#fullArc {
}

body {
	font-family: Verdana;
}

.sunday {
	stroke: lightgray;
	fill: white;
	opacity: 0.6;
}

.sunday:hover {
	opacity: 0.8;
}

.selected {
	stroke: black;
	opacity: 1.0;
}
.selected:hover {
	stroke: black;
	opacity: 1.0;
}

.advent {
	fill: lightblue;
}

.epiphany {
	fill: #EEEEEE;
}

.lent {
	fill: purple;
}

.holyWeek {
	fill: red;
}

.easter {
	fill: #EEEEEE;
}

.ordinary {
	fill: green;
}