#fullArc {
	fill: #eee;
}

.sunday {
	stroke: none; fill: white; opacity: 0.6;
}

#advent {
	fill: red;
}

#epiphany {
	fill: gold;
}

#lent {
	fill: purple;
}

#holyWeek {
	fill: red;
}

#easter {
	fill: gold;
}

#ordinary {
	fill: green;
}