#fullArc {
	fill: #DDDDDD;
}

body {
	background-color: #DDDDDD;
	font-family: Verdana;
}

.sunday {
	stroke: gray;
	fill: white;
	opacity: 0.6;
}

.sunday:hover {
	opacity: 1.0;
	stroke: black;
}

.season:hover {
	stroke: black;
}

.advent {
	fill: red;
}

.epiphany {
	fill: gold;
}

.lent {
	fill: purple;
}

.holyWeek {
	fill: red;
}

.easter {
	fill: #EEEEEE;
}

.ordinary {
	fill: green;
}